/* TODO: <1280不顯示 */
aside {
  width: 27%;
  float: left;
  background-color: #02040a;
  margin-left: 22px;
}

h5 {
  position: absolute;
  top: 0px;
  left: 20px;
  color: white;
  font-weight: bolder;
}

#lateset_changes_block {
  width: 355px;
  height: 350px;
  background-color: #0d1116;
  border: 1px #30363d solid;
  border-radius: 5px;
  margin-top: 16px;
  position: relative;
}

#changes_container {
  margin-top: 45px;
  margin-left: 45px;
  width: 270px;
  /* background-color: wheat; */
}

.change_item {
  margin-top: 16px;
  font-size: 10pt;
}

.change_info {
  color: white;
}

.change_info:hover {
  /* 如果效果被覆蓋 可以在後面加important */
  text-decoration: underline !important;
  cursor: pointer;
  color: #428ced;
}

.change_day {
  color: #8a939d;
  font-size: 10pt;
}

#view_changelog_label {
  font-size: 10pt;
  color: #8a939d;
  text-decoration: none;
}

#view_changelog_label:hover {
  color: #428ced;
}

#changes_image {
  position: absolute;
  top: 40px;
  left: 5px;
}
