@import url("variables.css");

body {
  color: white;
  margin: 0px;
  padding: 0px;
  background-color: var(--black-default-background-color);
}

button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none; /* 取消按鈕凸起效果 */
  -webkit-appearance: none; /* 對於 WebKit 瀏覽器 */
  -moz-appearance: none; /* 對於 Firefox */
  appearance: none; /* 標準語法 */
}

button:hover {
  filter: brightness(1.2); /* 變亮 */
}

button:active {
  filter: brightness(0.8); /* 變暗 */
}

.bluelink {
  color: var(--blue-link-text-color);
  text-decoration: none;
}

.bluelink:hover {
  text-decoration: underline;
}
