body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #02040a;
}

header {
  color: white;
  background-color: #02040a;
  height: 6.5vh;
  /* 在body沒有margin: 0 周圍會留白 */
  /* 不知道為什麼100%會超出頁面 底下會有捲軸很醜 */
  width: 99.9%;
  border: 1px #30363d solid;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none; /* 取消按鈕凸起效果 */
  -webkit-appearance: none; /* 對於 WebKit 瀏覽器 */
  -moz-appearance: none; /* 對於 Firefox */
  appearance: none; /* 標準語法 */
}

button:hover {
  filter: brightness(1.2); /* 變亮 */
}

button:active {
  filter: brightness(0.8); /* 變暗 */
}

.header_left_side {
  display: flex;
  align-items: center;
}

.header_left_side > * {
  margin-left: 10px;
}

.header_left_side > *:last-child {
  margin-left: 10; /* 移除最後一個元素的右邊距 */
}

.header_right_side {
  display: flex;
  align-items: center;
}

.header_right_side > * {
  /* 選擇 header_right_side 的所有直接子元素 */
  margin-right: 10px; /* 右邊距 50px */
}

.header_right_side > *:last-child {
  /* 最後一個子元素 */
  margin-right: 10; /* 移除最後一個元素的右邊距 */
}

.side_menu {
  width: 40px;
  height: 40px;
  background-image: url("../image/side_menu_btn.png");
}

.homepage {
  width: 32px;
  height: 32px;
  background-image: url("../image/github_btn.png");
}

.dashboard {
  color: white;
  background-color: #02040a;
  font-size: 15px;
}

.header_search_bar {
  width: 350px;
  height: 32px;
  background-image: url("../image/header_search_bar_btn.png");
}

.separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #444;
  margin: 0 10px;
  vertical-align: middle;
}

.create_new {
  width: 58px;
  height: 32px;
  background-image: url("../image/create_new_btn.png");
}

.issues {
  width: 32px;
  height: 32px;
  background-image: url("../image/issues_btn.png");
}

.pull_requests {
  width: 32px;
  height: 32px;
  background-image: url("../image/pull_requests_btn.png");
}

.notifications {
  width: 32px;
  height: 32px;
  background-image: url("../image/notifications_btn.png");
}

.create_new_btn {
  width: 58px;
  height: 32px;
  background-image: url("../image/notifications.png");
}

.user_avatar {
  width: 33px;
  height: 33px;
  background-image: url("../image/avatar_btn.png");
}

nav {
  color: white;
  background-color: #0d1116;
  width: 17%;
  height: 100vh;
  border: 1px #30363d solid;
  float: left;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.new_repositories {
  width: 65px;
  height: 28px;
  background-image: url("../image/new_repositories_btn.png");
}

.nav_middle {
  display: flex;
  justify-content: center;
}

.search_bar {
  width: 290px;
  height: 35px;
  position: relative;
  top: 5px;
  background-color: #161b22;
  padding: 0 2px; /* 為了讓文字不緊貼邊緣 */
  border: 1px #30363d solid;
  border-radius: 5px;
  /* 修改placeholder的字 */
  padding-left: 10px;
}

.search_bar:focus {
  outline: none;
  border-color: #1f6feb;
  border-width: 2px;
}

main {
  color: white;
  /* 不能剛好整除100 不然會壓在上面 */
  width: 55.8%;
  background-color: #02040a;
  /* background-color: gray; */
  float: left;
}

.main_top {
  padding-top: 20px;
  padding-left: 170px;
  padding-right: 20px;
  display: flex;
}

.home_label {
  font-size: 25px;
  font-weight: bold;
}

.send_feedback_button {
  color: #428ced;
  text-decoration: none;
  position: relative;
  top: 10px;
  left: 575px;
  /* margin-top: 20px; */
  /* padding-top: 20px; */
}

.send_feedback_button:hover {
  text-decoration: underline;
}

.filter_button {
  width: 85px;
  height: 32px;
  background-image: url("../image/filter_btn.png");

  position: relative;
  left: 600px;
}

aside {
  width: 27%;
  float: left;
  background-color: #02040a;
  /* background-color: wheat; */
}

.lateset_changes {
  width: 350px;
  height: 380px;
  background-color: #0d1116;
  border: 1px #30363d solid;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
}

.lateset_changes_label {
  color: white;
  top: 150px;
  font-weight: bolder;
}

.change_item {
  margin-top: 20px;
  margin-left: 50px;
}

.change_day {
  color: #30363d solid;
}
