nav {
  color: white;
  background-color: #0d1116;
  width: 17%;
  height: 100vh;
  border: 1px #30363d solid;
  float: left;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.new_repositories {
  width: 65px;
  height: 28px;
  background-image: url("../image/new_repositories_btn.png");
}

.nav_middle {
  display: flex;
  justify-content: center;
}

.search_bar {
  width: 290px;
  height: 35px;
  position: relative;
  top: 5px;
  background-color: #161b22;
  padding: 0 2px; /* 為了讓文字不緊貼邊緣 */
  border: 1px #30363d solid;
  border-radius: 5px;
  /* 修改placeholder的字 */
  padding-left: 10px;
}

.search_bar:focus {
  outline: none;
  border-color: #1f6feb;
  border-width: 2px;
}
