body {
  background-color: black;
  margin-top: 30px;
}

#all {
  width: 950px;

  /* 置中 */
  margin-left: auto;
  margin-right: auto;

  background-color: gray;
}

#header {
  height: 158px;
  background-color: white;
}

#left {
  width: 214px;
  /* 沒有加height 或是裡面沒有文字 根本看不到 */
  /* height: 20px; */
  background-color: cornflowerblue;
  float: left;
}

.menu li a {
  display: block;
}

#left ul li {
  width: 10px;
  background-color: blue;
  border: 5px dotted green;
  /* li之間的間距 */
  margin: 5px;
  /* 藍色區域上下50px */
  padding: 50px;
}

#left ul a {
  color: orange;
  /* text-decoration: none; */
}

#left ul a :hover {
  background-color: white;
  border: 2px solid;
}

#content {
  width: 736px;
  /* 沒有加height 或是裡面沒有文字 根本看不到 */
  /* height: 20px; */
  background-color: yellow;
  float: left;
}

#footer {
  clear: both;
  height: 100px;
  background-color: red;
  text-align: center;
}
