body {
  background-color: gray;
}

.horizontal_menu {
  width: 1000px;
  text-align: center;
  background-color: red;

  padding-top: 50px;
  padding-bottom: 50px;

  /* 置中奇怪做法 */
  margin-left: auto;
  margin-right: auto;
}

.horizontal_menu_item {
  width: 1000px;
  background-color: yellow;

  /* 效果不太一樣 */
  /* margin: 0 50px; */
  /* margin-left: 50px; */

  padding-left: 5px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.horizontal_menu_item:hover {
  background-color: blue;
  color: white;
}

.vertical_menu {
  display: flex;
  flex-direction: column;

  width: 1000px;
  text-align: center;
  background-color: red;

  margin-left: auto;
  margin-right: auto;
}

.vertical_menu_item {
  background-color: yellow;

  padding: 20px 20px 20px 20px;
  margin: 5px 5px 5px 5px;
}

.vertical_menu_item:hover {
  background-color: blue;
  color: white;
}
