body {
  background-color: gray;
}

.div1 {
  color: green;
  width: 600px;
  border: 2px solid black;
  position: relative;
  top: 100px;
  left: 200px;
}

.div2 {
  width: 600px;
  border: 2px solid black;
  margin: 10px;
}
