body {
  color: white;
  margin: 0px;
  padding: 0px;
  background-color: #02040a;

  border: 1px #fff solid;
  border-radius: 5px;
}

a {
  color: #428ced;
  /* 不讓超連結有底線 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  /* github的是30363d */
  border: 1px #fff solid;
  border-radius: 5px;
}

button:hover {
  filter: brightness(1.2); /* 變亮 */
}

button:active {
  filter: brightness(0.8); /* 變暗 */
}
