body {
  background-color: rgb(160, 160, 160);
}

#all {
  background-color: rgb(105, 105, 105);
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  /* all裡的內間距 */
  /* padding: 10px; */

  /* all的外邊框 距離上面200px */
  /* margin-top: 200px; */
}

header {
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  background-color: green;

  /* 上左右有外間距 下面的外間距給下面的元素 設定 */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

#content {
  /* 兩個效果差不多 */
  display: flex;
  flex-direction: row;
  /* display: flex;
  justify-content: space-around; */

  padding: 5px;

  /* 如果是nav artticle aside 每個都float: left 還是會垂直 而且footer會跑上來變成背景 */
}

nav {
  border: 5px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  background-color: yellow;

  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  /* 根據flex-direction決定順序是從左到右還是又到左 */
  order: 1;

  /* 如果content 有 warp相關才會作用 */
  /* 最大尺寸 不會超過 父物件的 內間距 */
  width: 25%;
  height: 600px;
}

article {
  border: 5px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  background-color: yellowgreen;

  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  order: 2;

  width: 50%;
  height: 600px;
}

aside {
  border: 5px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  background-color: yellow;

  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  order: 3;

  width: 25%;
  height: 600px;
}

footer {
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  background-color: blue;

  margin: 10px 10px;
  padding: 10px;
}

/* 列印時專用 */
/* @media print */

/* 行動版網頁設定 */
/* 當視窗小於640時 */
@media all and (max-width: 640px) {
  #content {
    flex-direction: column;
  }

  nav,
  article,
  aside {
    /* width: 10000px; */
    /* width: 10000vh; */
    /* width: 10000vw; */
    /* 以上三個都會超出all邊界 */

    /* 沒辦法透過限制外間距 達到寬度相同 */
    /* margin: auto; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */

    width: auto;
  }
}

/* TODO 間距上下左右都一樣了 但是做法滿白癡的 不知道有沒有更好的辦法 目前是 外間距內間距相加 */
/* ============================================================================ */

#test_content {
  /* width: 500px; */

  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 80px;

  border-top: 1px dotted black;
  border-left: 3px solid blue;
  border-bottom: 5px groove red;
  border-right: 7px hidden gray;

  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-right: 70px;
}

#container1 {
  /* 就算裡面有 文字 改字體顏色 改背景顏色 都沒有任何改變 */
  /* color: white;
  background-color: rgb(0, 0, 0); */
}

.container1_items {
  /* 從子物件整理 跟Unity的做法不一樣 */
  display: flex;
  flex-direction: column;

  /* 在內容本身超出範圍不管有沒有換行 都會超出 */
  text-wrap: wrap;
  height: 100px;
  /* width: 500px; */

  /* 外間距 */
  margin: 5px 5px 5px 5px;
  background-color: white;
}
