.content {
  width: 500px;

  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 80px;

  border-top: 1px dotted black;
  border-left: 3px solid blue;
  border-bottom: 5px groove red;
  border-right: 7px hidden gray;

  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-right: 70px;
}
